<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.alexandru.orarusv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Alexandru">
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alexandru.developer.aplicatie_studenti.action.UPDATE_CALENDAR" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity android:name=".SettingsActivity" />

        <service android:name=".data.TimetableDownloaderService" />
        <service android:name=".data.Synchronizer" />

        <receiver
            android:name=".app_widget.TimetableWidgetProvider"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <service
            android:name=".app_widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".data.CoursesContentProvider"
            android:authorities="com.alexandru.developer.aplicatie_studenti.data.CoursesContentProvider"
            android:readPermission="com.alexandru.developer.provider.READ_MY_DATA"
            android:writePermission="com.alexandru.developer.provider.WRITE_MY_DATA">
            <path-permission
                android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

        <activity
            android:name=".NoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_note"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>

        <receiver
            android:name=".data.DownloadFinished"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".download.DownloadActivity"
            android:theme="@style/Theme.Alexandru" />
        <activity
            android:name=".HelpActivity"
            android:theme="@style/Theme.Alexandru" />
        <activity
            android:name=".ChooseTimetableActivity"
            android:label="@string/title_activity_choose_timetable"/>
        <activity
            android:name=".splash_screen.TutorialActivity"
            android:label="@string/tittle_tutorial"/>
    </application>

</manifest>